<mat-toolbar class="nav">
  <div class="nav__container">
    <div class="nav__start">
      <p>ISO 27001:2022 certified</p>
    </div>

    <div class="nav__center">
      <ul class="nav__list">
        <li class="nav__item">
          <button mat-button>
            <a>
              HOME
            </a>
          </button>
        </li>

        <li class="nav__item">
          <button mat-button>
            <a>
              RATING
            </a>
          </button>
        </li>
      </ul>
    </div>

    <div class="nav__end">
      <app-language-selector/>
    </div>
  </div>
</mat-toolbar>
